<!DOCTYPE html>
<html lang="ja">
<head>
  <title>プロフィール編集 - UGLY NOTE</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--===============================================================================================-->
  <link rel="shortcut icon" href="/assets/favicon.ico">
  <!--===============================================================================================-->
  <!link rel="stylesheet" type="text/css" href="/assets/contactform/vendor/bootstrap/css/bootstrap.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/assets/contactform/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/assets/contactform/fonts/iconic/css/material-design-iconic-font.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/assets/contactform/vendor/animate/animate.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/assets/contactform/vendor/css-hamburgers/hamburgers.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/assets/contactform/vendor/animsition/css/animsition.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/assets/contactform/vendor/select2/select2.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/assets/contactform/vendor/daterangepicker/daterangepicker.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/assets/contactform/vendor/noui/nouislider.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/assets/contactform/css/util.css">
  <link rel="stylesheet" type="text/css" href="/assets/contactform/css/main.css">
  <!--===============================================================================================-->
</head>
<body>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <% if devise_error_messages! != ""%>
        <div class="containerflash">
          <div class="row2">

            <div class="col-md-12">
              <div class="alert alert-top alert-dismissable" style="border-color:#f5f5f5;background:#f14a4a;color:#fff;">

                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                  ×</button><%= devise_error_messages! %>
              </div>
            </div>
          </div>
        </div>
    <% end %>

    <div class="container-contact100">
      <div class="wrap-contact100">
        <form class="contact100-form validate-form">
				<span class="contact100-form-title">
					プロフィール編集
				</span>

          <div class="wrap-input100 validate-input bg1" data-validate="Please Type Your Name" >
            <%= f.label :ユーザ名 %><br />
            <%= f.text_field :username, :class=>"input100",:placeholder=>"" %>
          </div>

          <div class="wrap-input100 validate-input bg1">
            <%= f.label :eメール %><br />
            <%= f.email_field :email,:class=>"input100", autofocus: true %>
          </div>

          <div class="wrap-input100 input100-select bg1">
            <%= f.label :エリア選択 %><br />
            <div>
              <%= f.collection_select :area_code, Area.all, "area_code", "area_name", {prompt: "エリアを選択してください"}, {class: "js-select2"} %>
              <div class="dropDownSelect2"></div>
            </div>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="wrap-input100 validate-input bg1">

            <%= f.label :パスワード %> <i>(変更したくない場合は空白のままにしてください)</i><br />
            <%= f.password_field :password,:class=>"input100", autocomplete: "off" ,:placeholder=>"6文字以上"%>
          </div>

          <div class="wrap-input100 validate-input bg1">
            <%= f.label :パスワード確認 %> <i>(変更後のパスワードを再度入力してください)</i><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" ,:class=>"input100"%>
          </div>

          <div class="wrap-input100 validate-input bg1">
            <%= f.label :現在のパスワード %> <i>（変更を確認するために現在のパスワードが必要です）</i><br />
            <%= f.password_field :current_password, autocomplete: "off" ,:class=>"input100"%>
          </div>

          <div class="regbutton">
            <div class="container-contact100-form-btn">
              <button class="contact100-form-btn">
                <input type="submit" name="commit" value="変更" class="contact100-form-btn" data-disable-with="Create Place">
                <span>
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
              </button>
            </div>
          </div>

        </form>
        <hr class="divider-w mt-10 mb-20">
        <p><%= button_to "このアカウントを削除する", registration_path(resource_name),:class=>"btn btn-danger btn-circle", data: { confirm: "本当に削除しますか？" }, method: :delete %></p>
      </div>
    </div>

<% end %>

<!--===============================================================================================-->
<script src="/assets/contactform/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="/assets/contactform/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="/assets/contactform/vendor/bootstrap/js/popper.js"></script>
<script src="/assets/contactform/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="/assets/contactform/vendor/select2/select2.min.js"></script>
<script>
    $(".js-select2").each(function(){
        $(this).select2({
            minimumResultsForSearch: 20,
            dropdownParent: $(this).next('.dropDownSelect2')
        });


        $(".js-select2").each(function(){
            $(this).on('select2:close', function (e){
                if($(this).val() == "Please chooses") {
                    $('.js-show-service').slideUp();
                }
                else {
                    $('.js-show-service').slideUp();
                    $('.js-show-service').slideDown();
                }
            });
        });
    })
</script>
<!--===============================================================================================-->
<script src="/assets/contactform/vendor/daterangepicker/moment.min.js"></script>
<script src="/assets/contactform/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="/assets/contactform/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="/assets/contactform/vendor/noui/nouislider.min.js"></script>
<script>
    var filterBar = document.getElementById('filter-bar');

    noUiSlider.create(filterBar, {
        start: [ 1500, 3900 ],
        connect: true,
        range: {
            'min': 1500,
            'max': 7500
        }
    });

    var skipValues = [
        document.getElementById('value-lower'),
        document.getElementById('value-upper')
    ];

    filterBar.noUiSlider.on('update', function( values, handle ) {
        skipValues[handle].innerHTML = Math.round(values[handle]);
        $('.contact100-form-range-value input[name="from-value"]').val($('#value-lower').html());
        $('.contact100-form-range-value input[name="to-value"]').val($('#value-upper').html());
    });
</script>
<!--===============================================================================================-->
<script src="/assets/js/main.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');
</script>

</body>
</html>
